@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Playwrite+US+Modern:wght@100..400&display=swap');
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@theme {
  --color-dark: #1f3351;
  --color-normal: #62748a;
  --color-white: #fbfaf5;
  --font-sans: "DM Sans", sans-serif;
}

